:root {
    --light-blue: #cfe8ef;
    --medium-blue: #c6dbf0;
    --dark-blue: #aed1e6;
    --darker-blue: #a0c4e2;
    --darkest-blue: #85c7de;
    --extra-dark-blue: #3e5b68;
    --soft-white: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--soft-white);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navigation */
#nav-toggle {
    display: block;
    background: rgba(128, 128, 128, 0.5);
    border: none;
    border-radius: 5%;;
    color: var(--soft-white);
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 2;
    padding: 10px;
}

#page-nav {
    position: relative;
    background-color: var(--light-blue);
}

#nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--extra-dark-blue);
    padding: 15% 15px 0;
    transition: transform 0.4s ease;
}

.nav-list-hidden {
    transform: translateX(100%);
}

#nav-list a {
    color: var(--soft-white);
    text-decoration: none;
}

/* Header Styles */
header {
    background-color: var(--extra-dark-blue);
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

.header-container {
    display: flex;
    flex-direction: column-reverse;
}

.header-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.275rem;
}

.header-thumbnail {
    max-width: 320px;
    border-radius: 50%;
}

/* Section Styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.section-alternate {
    background-color: var(--light-blue);
}

/* Footer Styles */
footer {
    background-color: var(--extra-dark-blue);
    color: #fff;
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

/* Typography */
.fine-print {
    font-size: 0.675rem;
    font-style: italic;
    margin-bottom: 0;
}

/* Images */
.image-location-container {
    display: flex;
    flex-direction: row;
}

.location-pin {
    width: 0.675rem;
    margin-right: 0.375em;
}

.image-main {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.object-position-top-10 {
    object-position: 0 10%;
}

@media only screen and (min-width: 768px) {
    #page-nav {
        padding: 40px 0;
    }
    
    #nav-toggle {
        display: none;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        background-color: inherit;
        position: relative;
        height: auto;
        max-width: none;
        padding: 0;
    }

    #nav-list li {
        display: block;
        margin-bottom: 15px;
    }

    #nav-list a {
        color: #333;
    }

    .header-container {
        flex-direction: row;
    }

    .header-left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-right-side {
        height: 15rem;
    }

    .header-thumbnail {
        width: auto;
        height: 65%;
    }

    .image-main {
        max-height: 90vh;
    }
}