:root {
    --light-blue: #cfe8ef;
    --medium-blue: #c6dbf0;
    --dark-blue: #aed1e6;
    --darker-blue: #a0c4e2;
    --darkest-blue: #85c7de;
    --extra-dark-blue: #3e5b68;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Styles */
header {
    background-color: var(--extra-dark-blue);
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

.header-container {
    display: flex;
    flex-direction: column-reverse;
}

.header-right-side {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.275rem;
}

.header-thumbnail {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

/* Section Styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.section-alternate {
    background-color: var(--light-blue);
}

/* Footer Styles */
footer {
    background-color: var(--extra-dark-blue);
    color: #fff;
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

/* Typography */
.fine-print {
    font-size: 0.675rem;
    font-style: italic;
}

/* Images */
.image-location-container {
    display: flex;
    flex-direction: row;
}

.location-pin {
    width: 0.675rem;
    margin-right: 0.375em;
}

@media only screen and (min-width: 768px) {
    .header-container {
        flex-direction: row;
    }

    .header-left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-right-side {
        height: 15rem;
    }

    .header-thumbnail {
        width: auto;
        height: 65%;
    }
}